{% extends 'server/base.html' %}
{% load static %}
{% block title%}О нас
{% endblock %}
{% block page_staticfiles%}
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
{% endblock %}
{% block title%}
    О нас
{% endblock %}
{% block content %}
<ul>
    {% for ab in about  %}
    <li>{{ ab }}</li>
    {% endfor %}
</ul>
    <div id="app">
        <input type="text" v-model.lazy="inputValue">
    <h2>[[ inputValue]]</h2>
        <hr>
    <div
            class="circle"
            @click="isActive = !isActive"
            :class="getCSSclasses"
    ></div>
         <div
            class="circle"
            :class="[color,{'red': isActive, 'green':!isActive }]"
    ></div>
        <input type="text" v-model="color">
    <hr>
    <h2>Count [[ counter ]]</h2>
        <h3>[[ result() ]]</h3>
    <button @click="add">Add</button>
    <button @click="sub">Sub</button>
    </div>

{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
    <script>
    new Vue({
        el:'#app',
        delimiters: ['[[', ']]'],
        data:{
           inputValue:'Default',
            isActive: false,
            color: "blue",
            counter:0,
            condition:''
        },
        computed:{ //уже вычесленное
            getCSSclasses:function () {
                return {'red': this.isActive, 'green':!this.isActive }
            }
        },
        methods:{
            add:function () {
                this.counter++;
            },
            sub:function () {
                this.counter--;

            },
            result: function () {
                return this.condition=this.counter>3 ? 'more 3':'Less 3'
            }


        }
    })
    </script>
{% endblock %}
