ul{
    color: #1a8c55;
}

.main-messege{
    /*margin: 1em;*/
}
#app{
    background-color: #2b669a !important;
}
#app h2{
    color: white;
    font-size: 28pt;
}
.circle{
    border: black solid 2px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 40px;
    display: inline-block;
}
.none_bg{
    background: none !important;
}
.red{
    background: red;
}
.green{
    background: green;
}
.blue{
    background: blue;
}